In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv("data.csv")
data.head()

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6819 entries, 0 to 6818
Data columns (total 96 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Bankrupt?                                                 6819 non-null   int64
 1    ROA(C) before interest and depreciation before interest  6819 non-null   float64
 2    ROA(A) before interest and % after tax                   6819 non-null   float64
 3    ROA(B) before interest and depreciation after tax        6819 non-null   float64
 4    Operating Gross Margin                                   6819 non-null   float64
 5    Realized Sales Gross Margin                              6819 non-null   float64
 6    Operating Profit Rate                                    6819 non-null   float64
 7    Pre-tax net Interest Rate                                6819 non-null   float64
 8    After-tax net Interest Rate                              6819 non-null   float64
 9    Non-industry income and expenditure/revenue              6819 non-null   float64
 10   Continuous interest rate (after tax)                     6819 non-null   float64
 11   Operating Expense Rate                                   6819 non-null   float64
 12   Research and development expense rate                    6819 non-null   float64
 13   Cash flow rate                                           6819 non-null   float64
 14   Interest-bearing debt interest rate                      6819 non-null   float64
 15   Tax rate (A)                                             6819 non-null   float64
 16   Net Value Per Share (B)                                  6819 non-null   float64
 17   Net Value Per Share (A)                                  6819 non-null   float64
 18   Net Value Per Share (C)                                  6819 non-null   float64
 19   Persistent EPS in the Last Four Seasons                  6819 non-null   float64
 20   Cash Flow Per Share                                      6819 non-null   float64
 21   Revenue Per Share (Yuan Â¥)                               6819 non-null   float64
 22   Operating Profit Per Share (Yuan Â¥)                      6819 non-null   float64
 23   Per Share Net profit before tax (Yuan Â¥)                 6819 non-null   float64
 24   Realized Sales Gross Profit Growth Rate                  6819 non-null   float64
 25   Operating Profit Growth Rate                             6819 non-null   float64
 26   After-tax Net Profit Growth Rate                         6819 non-null   float64
 27   Regular Net Profit Growth Rate                           6819 non-null   float64
 28   Continuous Net Profit Growth Rate                        6819 non-null   float64
 29   Total Asset Growth Rate                                  6819 non-null   float64
 30   Net Value Growth Rate                                    6819 non-null   float64
 31   Total Asset Return Growth Rate Ratio                     6819 non-null   float64
 32   Cash Reinvestment %                                      6819 non-null   float64
 33   Current Ratio                                            6819 non-null   float64
 34   Quick Ratio                                              6819 non-null   float64
 35   Interest Expense Ratio                                   6819 non-null   float64
 36   Total debt/Total net worth                               6819 non-null   float64
 37   Debt ratio %                                             6819 non-null   float64
 38   Net worth/Assets                                         6819 non-null   float64
 39   Long-term fund suitability ratio (A)                     6819 non-null   float64
 40   Borrowing dependency                                     6819 non-null   float64
 41   Contingent liabilities/Net worth                         6819 non-null   float64
 42   Operating profit/Paid-in capital                         6819 non-null   float64
 43   Net profit before tax/Paid-in capital                    6819 non-null   float64
 44   Inventory and accounts receivable/Net value              6819 non-null   float64
 45   Total Asset Turnover                                     6819 non-null   float64
 46   Accounts Receivable Turnover                             6819 non-null   float64
 47   Average Collection Days                                  6819 non-null   float64
 48   Inventory Turnover Rate (times)                          6819 non-null   float64
 49   Fixed Assets Turnover Frequency                          6819 non-null   float64
 50   Net Worth Turnover Rate (times)                          6819 non-null   float64
 51   Revenue per person                                       6819 non-null   float64
 52   Operating profit per person                              6819 non-null   float64
 53   Allocation rate per person                               6819 non-null   float64
 54   Working Capital to Total Assets                          6819 non-null   float64
 55   Quick Assets/Total Assets                                6819 non-null   float64
 56   Current Assets/Total Assets                              6819 non-null   float64
 57   Cash/Total Assets                                        6819 non-null   float64
 58   Quick Assets/Current Liability                           6819 non-null   float64
 59   Cash/Current Liability                                   6819 non-null   float64
 60   Current Liability to Assets                              6819 non-null   float64
 61   Operating Funds to Liability                             6819 non-null   float64
 62   Inventory/Working Capital                                6819 non-null   float64
 63   Inventory/Current Liability                              6819 non-null   float64
 64   Current Liabilities/Liability                            6819 non-null   float64
 65   Working Capital/Equity                                   6819 non-null   float64
 66   Current Liabilities/Equity                               6819 non-null   float64
 67   Long-term Liability to Current Assets                    6819 non-null   float64
 68   Retained Earnings to Total Assets                        6819 non-null   float64
 69   Total income/Total expense                               6819 non-null   float64
 70   Total expense/Assets                                     6819 non-null   float64
 71   Current Asset Turnover Rate                              6819 non-null   float64
 72   Quick Asset Turnover Rate                                6819 non-null   float64
 73   Working capitcal Turnover Rate                           6819 non-null   float64
 74   Cash Turnover Rate                                       6819 non-null   float64
 75   Cash Flow to Sales                                       6819 non-null   float64
 76   Fixed Assets to Assets                                   6819 non-null   float64
 77   Current Liability to Liability                           6819 non-null   float64
 78   Current Liability to Equity                              6819 non-null   float64
 79   Equity to Long-term Liability                            6819 non-null   float64
 80   Cash Flow to Total Assets                                6819 non-null   float64
 81   Cash Flow to Liability                                   6819 non-null   float64
 82   CFO to Assets                                            6819 non-null   float64
 83   Cash Flow to Equity                                      6819 non-null   float64
 84   Current Liability to Current Assets                      6819 non-null   float64
 85   Liability-Assets Flag                                    6819 non-null   int64
 86   Net Income to Total Assets                               6819 non-null   float64
 87   Total assets to GNP price                                6819 non-null   float64
 88   No-credit Interval                                       6819 non-null   float64
 89   Gross Profit to Sales                                    6819 non-null   float64
 90   Net Income to Stockholder's Equity                       6819 non-null   float64
 91   Liability to Equity                                      6819 non-null   float64
 92   Degree of Financial Leverage (DFL)                       6819 non-null   float64
 93   Interest Coverage Ratio (Interest expense to EBIT)       6819 non-null   float64
 94   Net Income Flag                                          6819 non-null   int64
 95   Equity to Liability                                      6819 non-null   float64
dtypes: float64(93), int64(3)
memory usage: 5.0 MB

In [4]:
data.isnull().sum()

Bankrupt?                                                   0
 ROA(C) before interest and depreciation before interest    0
 ROA(A) before interest and % after tax                     0
 ROA(B) before interest and depreciation after tax          0
 Operating Gross Margin                                     0
                                                           ..
 Liability to Equity                                        0
 Degree of Financial Leverage (DFL)                         0
 Interest Coverage Ratio (Interest expense to EBIT)         0
 Net Income Flag                                            0
 Equity to Liability                                        0
Length: 96, dtype: int64

In [5]:
data.duplicated().sum()

0

In [6]:
data.columns.values

array(['Bankrupt?',
       ' ROA(C) before interest and depreciation before interest',
       ' ROA(A) before interest and % after tax',
       ' ROA(B) before interest and depreciation after tax',
       ' Operating Gross Margin', ' Realized Sales Gross Margin',
       ' Operating Profit Rate', ' Pre-tax net Interest Rate',
       ' After-tax net Interest Rate',
       ' Non-industry income and expenditure/revenue',
       ' Continuous interest rate (after tax)', ' Operating Expense Rate',
       ' Research and development expense rate', ' Cash flow rate',
       ' Interest-bearing debt interest rate', ' Tax rate (A)',
       ' Net Value Per Share (B)', ' Net Value Per Share (A)',
       ' Net Value Per Share (C)',
       ' Persistent EPS in the Last Four Seasons', ' Cash Flow Per Share',
       ' Revenue Per Share (Yuan Â¥)',
       ' Operating Profit Per Share (Yuan Â¥)',
       ' Per Share Net profit before tax (Yuan Â¥)',
       ' Realized Sales Gross Profit Growth Rate',
       ' Operating Profit Growth Rate',
       ' After-tax Net Profit Growth Rate',
       ' Regular Net Profit Growth Rate',
       ' Continuous Net Profit Growth Rate', ' Total Asset Growth Rate',
       ' Net Value Growth Rate', ' Total Asset Return Growth Rate Ratio',
       ' Cash Reinvestment %', ' Current Ratio', ' Quick Ratio',
       ' Interest Expense Ratio', ' Total debt/Total net worth',
       ' Debt ratio %', ' Net worth/Assets',
       ' Long-term fund suitability ratio (A)', ' Borrowing dependency',
       ' Contingent liabilities/Net worth',
       ' Operating profit/Paid-in capital',
       ' Net profit before tax/Paid-in capital',
       ' Inventory and accounts receivable/Net value',
       ' Total Asset Turnover', ' Accounts Receivable Turnover',
       ' Average Collection Days', ' Inventory Turnover Rate (times)',
       ' Fixed Assets Turnover Frequency',
       ' Net Worth Turnover Rate (times)', ' Revenue per person',
       ' Operating profit per person', ' Allocation rate per person',
       ' Working Capital to Total Assets', ' Quick Assets/Total Assets',
       ' Current Assets/Total Assets', ' Cash/Total Assets',
       ' Quick Assets/Current Liability', ' Cash/Current Liability',
       ' Current Liability to Assets', ' Operating Funds to Liability',
       ' Inventory/Working Capital', ' Inventory/Current Liability',
       ' Current Liabilities/Liability', ' Working Capital/Equity',
       ' Current Liabilities/Equity',
       ' Long-term Liability to Current Assets',
       ' Retained Earnings to Total Assets',
       ' Total income/Total expense', ' Total expense/Assets',
       ' Current Asset Turnover Rate', ' Quick Asset Turnover Rate',
       ' Working capitcal Turnover Rate', ' Cash Turnover Rate',
       ' Cash Flow to Sales', ' Fixed Assets to Assets',
       ' Current Liability to Liability', ' Current Liability to Equity',
       ' Equity to Long-term Liability', ' Cash Flow to Total Assets',
       ' Cash Flow to Liability', ' CFO to Assets',
       ' Cash Flow to Equity', ' Current Liability to Current Assets',
       ' Liability-Assets Flag', ' Net Income to Total Assets',
       ' Total assets to GNP price', ' No-credit Interval',
       ' Gross Profit to Sales', " Net Income to Stockholder's Equity",
       ' Liability to Equity', ' Degree of Financial Leverage (DFL)',
       ' Interest Coverage Ratio (Interest expense to EBIT)',
       ' Net Income Flag', ' Equity to Liability'], dtype=object)

In [17]:
for i in data.columns.values:
    print(i)

Bankrupt?
 ROA(C) before interest and depreciation before interest
 ROA(A) before interest and % after tax
 ROA(B) before interest and depreciation after tax
 Operating Gross Margin
 Realized Sales Gross Margin
 Operating Profit Rate
 Pre-tax net Interest Rate
 After-tax net Interest Rate
 Non-industry income and expenditure/revenue
 Continuous interest rate (after tax)
 Operating Expense Rate
 Research and development expense rate
 Cash flow rate
 Interest-bearing debt interest rate
 Tax rate (A)
 Net Value Per Share (B)
 Net Value Per Share (A)
 Net Value Per Share (C)
 Persistent EPS in the Last Four Seasons
 Cash Flow Per Share
 Revenue Per Share (Yuan Â¥)
 Operating Profit Per Share (Yuan Â¥)
 Per Share Net profit before tax (Yuan Â¥)
 Realized Sales Gross Profit Growth Rate
 Operating Profit Growth Rate
 After-tax Net Profit Growth Rate
 Regular Net Profit Growth Rate
 Continuous Net Profit Growth Rate
 Total Asset Growth Rate
 Net Value Growth Rate
 Total Asset Return Growth Rate Ratio
 Cash Reinvestment %
 Current Ratio
 Quick Ratio
 Interest Expense Ratio
 Total debt/Total net worth
 Debt ratio %
 Net worth/Assets
 Long-term fund suitability ratio (A)
 Borrowing dependency
 Contingent liabilities/Net worth
 Operating profit/Paid-in capital
 Net profit before tax/Paid-in capital
 Inventory and accounts receivable/Net value
 Total Asset Turnover
 Accounts Receivable Turnover
 Average Collection Days
 Inventory Turnover Rate (times)
 Fixed Assets Turnover Frequency
 Net Worth Turnover Rate (times)
 Revenue per person
 Operating profit per person
 Allocation rate per person
 Working Capital to Total Assets
 Quick Assets/Total Assets
 Current Assets/Total Assets
 Cash/Total Assets
 Quick Assets/Current Liability
 Cash/Current Liability
 Current Liability to Assets
 Operating Funds to Liability
 Inventory/Working Capital
 Inventory/Current Liability
 Current Liabilities/Liability
 Working Capital/Equity
 Current Liabilities/Equity
 Long-term Liability to Current Assets
 Retained Earnings to Total Assets
 Total income/Total expense
 Total expense/Assets
 Current Asset Turnover Rate
 Quick Asset Turnover Rate
 Working capitcal Turnover Rate
 Cash Turnover Rate
 Cash Flow to Sales
 Fixed Assets to Assets
 Current Liability to Liability
 Current Liability to Equity
 Equity to Long-term Liability
 Cash Flow to Total Assets
 Cash Flow to Liability
 CFO to Assets
 Cash Flow to Equity
 Current Liability to Current Assets
 Liability-Assets Flag
 Net Income to Total Assets
 Total assets to GNP price
 No-credit Interval
 Gross Profit to Sales
 Net Income to Stockholder's Equity
 Liability to Equity
 Degree of Financial Leverage (DFL)
 Interest Coverage Ratio (Interest expense to EBIT)
 Net Income Flag
 Equity to Liability

In [18]:
data[" Current Liability to Assets"]

0       0.147308
1       0.056963
2       0.098162
3       0.098715
4       0.110195
          ...
6814    0.103838
6815    0.089901
6816    0.024414
6817    0.083199
6818    0.018517
Name:  Current Liability to Assets, Length: 6819, dtype: float64

In [20]:
data.filter(items=[" Current Ratio", " Quick Ratio"])

       Current Ratio   Quick Ratio
0           0.002259      0.001208
1           0.006016      0.004039
2           0.011543      0.005348
3           0.004194      0.002896
4           0.006022      0.003727
...              ...           ...
6814        0.010451      0.005457
6815        0.009259      0.006741
6816        0.038424      0.035112
6817        0.012782      0.007256
6818        0.051348      0.040897

[6819 rows x 2 columns]

In [22]:
data[" Tax rate (A)"]

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
6814    0.113372
6815    0.371596
6816    0.490839
6817    0.181294
6818    0.000000
Name:  Tax rate (A), Length: 6819, dtype: float64

X1 =  Working Capital to Total Assets
X2 =  Retained Earnings to Total Assets
X3 =  ROA (C)
X4 =  Equity to Liability
X5 =  Total Asset Turnover

Altman formula for emerging market
Zâ€™ = 0,717âˆ™X1+0,847âˆ™X+3,107âˆ™X3+0,42âˆ™X4+0,998âˆ™X5

### Calculation of  z score

In [55]:
def calc_zscore(args):
    x1,x2,x3,x4,x5 = args
    z=0.717*x1 +0.847*x2 + 0.3107*x3 + 0.42*x4 + 0.998*x5
    return z

In [25]:
X1 = data.loc[0," Working Capital to Total Assets"]
X2 = data.loc[0," Retained Earnings to Total Assets"]
X3 = data.loc[0," ROA(C) before interest and depreciation before interest"]
X4 = data.loc[0," Equity to Liability"]
X5 = data.loc[0," Total Asset Turnover"]

In [26]:
mytuple =(X1,X2,X3,X4,X5)
print(mytuple)

(0.67277529248986, 0.903224771166726, 0.370594257300249, 0.0164687409123162, 0.0869565217391304)

In [44]:
calc_zscore(mytuple)

1.456254381515459

In [38]:
data_zscore = pd.DataFrame(data = data,columns=["Bankrupt?"," Working Capital to Total Assets",
                                               " Retained Earnings to Total Assets",
                                  " ROA(C) before interest and depreciation before interest", 
                                   " Equity to Liability"," Total Asset Turnover"
                                  ])

In [39]:
data_zscore

,Bankrupt?,Working Capital to Total Assets,Retained Earnings to Total Assets,ROA(C) before interest and depreciation before interest,Equity to Liability,Total Asset Turnover
0,1,0.672775,0.903225,0.370594,0.016469,0.086957
1,1,0.751111,0.931065,0.464291,0.020794,0.064468
2,1,0.829502,0.909903,0.426071,0.016474,0.014993
3,1,0.725754,0.906902,0.399844,0.023982,0.089955
4,1,0.751822,0.913850,0.465022,0.035490,0.175412
...,...,...,...,...,...,...
6814,0,0.817769,0.925611,0.493687,0.029890,0.103448
6815,0,0.793387,0.932629,0.475162,0.038284,0.103448
6816,0,0.866047,0.932000,0.472725,0.097649,0.106447
6817,0,0.832340,0.939613,0.506264,0.044009,0.109445
6818,0,0.873759,0.938005,0.493053,0.233902,0.002999

In [68]:
for i in range(len(data_zscore)):
    lt=data_zscore.iloc[i,1:6]
    #print(lt)
    mytuple = tuple(lt)
    #print(len(mytuple))
    data_zscore.loc[i,"zscore"] = calc_zscore(mytuple)

In [69]:
data_zscore.head(10)

,Bankrupt?,Working Capital to Total Assets,Retained Earnings to Total Assets,ROA(C) before interest and depreciation before interest,Equity to Liability,Total Asset Turnover,zscore
0,1,0.672775,0.903225,0.370594,0.016469,0.086957,1.456254
1,1,0.751111,0.931065,0.464291,0.020794,0.064468,1.544486
2,1,0.829502,0.909903,0.426071,0.016474,0.014993,1.519703
3,1,0.725754,0.906902,0.399844,0.023982,0.089955,1.512591
4,1,0.751822,0.913850,0.465022,0.035490,0.175412,1.647538
5,1,0.686729,0.903041,0.388680,0.019534,0.095952,1.481988
6,0,0.729416,0.911441,0.390923,0.015663,0.100450,1.523270
7,0,0.797005,0.935449,0.508361,0.034889,0.218891,1.754832
8,0,0.813738,0.935200,0.488519,0.065826,0.154423,1.709108
9,0,0.825696,0.938290,0.495686,0.030801,0.347826,1.900832